@import "colors";

header.app-header {
  color: $primary-background-color;
  background: $secondary-background-color;
  padding: 5px;
  border-bottom: 3px solid darken($secondary-background-color, 10%);
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

footer.app-footer {
  color: $secondary-background-color;
  background: $primary-background-color;
  text-align: center;
  padding: 5px;
  border-top: 3px solid darken($primary-background-color, 10%);
}

aside.app-sidebar {
  float: right;
  background: $primary-background-color;
  width: 200px;
}
